<div class="container">
    <h2>Upload Income Statements</h2>
    <form>
      <div class="form-group">
        <label for="file">Upload pdf documents:</label>
        <input type="file" id="file" class="form-control">
      </div>
      <button type="button" class="btn btn-primary" [routerLink]="['/tax-summary']">Next</button>
    </form>
  </div>
  <div class="container">
    <h2>Upload Proof Of Expenses </h2>
    <form>
      <div class="form-group">
        <label for="file">Upload Proof Of Expenses</label>
        <input type="file" id="file" class="form-control">
      </div>
      <button type="button" class="btn btn-primary" [routerLink]="['/tax-summary']">Next</button>
    </form>
  </div>
  <div class="container">
    <h2>Upload Bank Statements & Investments </h2>
    <form>
      <div class="form-group">
        <label for="file">Upload</label>
        <input type="file" id="file" class="form-control">
      </div>
      <button type="button" class="btn btn-primary" [routerLink]="['/tax-summary']">Next</button>
    </form>
  </div>
  <div class="container">
    <h2>Upload Health Insurance  </h2>
    <form>
      <div class="form-group">
        <label for="file">Upload if any Form 1095-A, 1095-B, or 1095-C: To report your health insurance coverage</label>
        <input type="file" id="file" class="form-control">
      </div>
      <button type="button" class="btn btn-primary" [routerLink]="['/tax-summary']">Next</button>
    </form>
  </div>
    